@font-face {
  font-family: "Prototype";
  src: url("../fonts/Prototype.ttf") format("truetype");
}
/* START OF RESET*/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

ul {
  padding-left: 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, img {
  display: block;
}

picture, img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

/* END OF RESET*/
html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Prototype", sans-serif;
  background: -webkit-linear-gradient(90deg, #6FCEA9, #97AB30, #6FCEA9);
  background: linear-gradient(90deg, #6FCEA9, #97AB30, #6FCEA9);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.header nav ul {
  display: flex;
  gap: 20px;
}
.header nav ul li {
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 200%;
  font-weight: 500;
}
.header nav ul li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header nav ul li:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #354A7B;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header__clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.8rem;
  font-weight: semibold;
}
.header .nav {
  font-weight: bold;
}

.heading {
  padding-top: 30px;
  text-align-last: left;
  margin: 0 auto;
  width: 80%;
  font-weight: 600;
}

span.my-photo {
  position: relative;
  background: #458647;
  cursor: pointer;
  color: #D4BFBF;
  opacity: 1;
  font-weight: 500;
}

span.my-photo img {
  position: absolute;
  opacity: 0;
  width: 400px;
  height: 400px;
  left: 330px;
  display: none;
  filter: grayscale(0);
  z-index: 999;
}

span.my-photo:hover img {
  opacity: 1;
  display: block;
  top: 0;
  border: none;
  border-radius: 0;
}

p {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  line-height: 125%;
  color: #000000;
  font-weight: 500;
}

.contacts {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.my-contacts {
  width: 80%;
  padding-top: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
}
img:hover {
  filter: grayscale(0);
  border: 2px solid #354A7B;
  border-radius: 10%;
}

.code {
  width: 80%;
  margin: 0 auto;
}
.code span {
  font-weight: 800;
}
.code h3 {
  padding: 30px 0;
}
.code-wrapper {
  padding-top: 30px;
}

.my-solution {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-weight: 600;
}

.skills {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.skills__now {
  width: 33%;
}
.skills__new {
  width: 45%;
}
.skills__language {
  width: 22%;
}
.skills__language p {
  margin: 0;
}
.skills__language > .skills__heading {
  text-align: left;
}
.skills-pictures-now {
  display: grid;
  padding-top: 30px;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  row-gap: 30px;
}
.skills-pictures-new {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  row-gap: 30px;
}
.skills__heading {
  margin-top: 40px;
}
.skills__english {
  padding-top: 30px;
}

.new-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}

.new-4 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__description {
  padding: 5px;
}
.footer__description:hover {
  border: 2px solid #354A7B;
  border-radius: 10%;
}
.footer__logo {
  height: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  width: 70px;
  height: 30px;
}

.swiper-button-next {
  margin-right: 20px;
}

.swiper-button-prev {
  margin-left: 20px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

.swiper-button-next::after {
  content: url(../img/arrow_right.png);
}

.swiper-button-prev::after {
  content: url(../img/arrow_left.png);
}

/*# sourceMappingURL=styles.css.map */
